@model GharibFood.Models.Usuario

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-perfil">
        <div class="wrapper">
            <div class="left">
                <img src="../imagens/perfil.png" alt="user" width="100">
                <h3>Perfil</h3>
                
                <div class="info">
                    <br>
                    <br>
                    <h3></h3>
                    <h3>Informações</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p>@Model.Email</p>
                        </div>

                        <div class="data">
                        <h4 class="nome">Nome</h4>
                            <p>@Model.Nome</p>
                        </div>

                        <div class="data">
                            <h4>Nome de usuário</h4>
                            <p>@Model.Id</p>
                        </div>
                        
                    </div>
                    <div class="botao">
                    <a href="/Home/Index"><h4>Deslogar</h4></a>
                </div>
            </div>
        </div>
            
        <div class="right">
            <div class="projects">
                <h3>Receitas salvas</h3>

                <div class="social_media">
                    @foreach (var receita in ViewBag.receitasFavs)
                    {
                        <a href="/Home/Receita?id=@receita.Id&user=@ViewBag.user">
                            <div class="bloco-receita-salva">
                                <img src=@receita.Imagem alt=imagem class="img-link-receita-salva">
                                <div class="info-receita-salva">
                                    <p>@receita.Categoria</p>
                                    <h4>@receita.Nome</h4>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            
            </div>
                 
            </div>
        </div>
    </div>
</body>