@model List<GharibFood.ViewModels.ReceitaViewModel>

@{
    ViewData["Title"] = "Receita";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-receita">
        <div class="box-ini" id="primeira-box-ini">
            @foreach (var receita in Model)
            {
                if(receita.Id == @ViewBag.id)
                {
                    <h1>@receita.Nome</h1>
                    <div class="video">
                        <iframe width="560" height="315" src=@receita.Video title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div> 
                        <table class="info-receita">
                            <tr>
                                <td><img src="../imagens/relogio.png" alt="imagem de um temporizador"></td>
                                <td><img src="../imagens/rendimento.png" alt="imagem ilustrativa rendimento"></td>
                                <td><button id="curtir"><img id="coracao" src="../imagens/favorito.png" alt="imagem de um coração"></button></td>
                                <td><img src="../imagens/comentarios.png" alt="imagem ilustrativa de comentários"></td>
                                <td>
                                    <ul class="avaliacao">
                                    <li class="star-icon ativo" data-avaliacao="1"></li>
                                    <li class="star-icon" data-avaliacao="2"></li>
                                    <li class="star-icon" data-avaliacao="3"></li>
                                    <li class="star-icon" data-avaliacao="4"></li>
                                    <li class="star-icon" data-avaliacao="5"></li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td>Preparo</td>
                                <td>Rendimento</td>
                                <td>Favoritos</td>
                                <td>Comentários</td>
                                @* <td><a href="../Home/Comentar">Comentar</a></td> *@
                                <td rowspan="2">Avalie essa receita</td>
                            </tr>

                            <tr id="info-receita">
                                <td>@receita.Preparo</td>
                                <td>@receita.Rendimento</td>
                                <td><p class="numeroCurtidas" id="numeroCurtidas">@receita.Favoritos</p></td>
                                <td>@receita.Comentarios</td>                  
                            </tr>

                        </table>
                    </div>


                }
            }
            
        </div>
    
        <div class="box-ini">
            <div>
                <h3>CURIOSIDADES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eveniet corporis, nesciunt debitis, sit, ut tempore fuga accusamus repellendus iure dolor similique. Praesentium dicta accusantium magni, voluptatibus nostrum blanditiis maiores!</p>
            </div>
        </div>

        <div class="box-ini">
            <div>
                <h3>INGREDIENTES</h3>
                <ul>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                </ul>
            </div>
        </div>

        <div class="box-ini">
            <div id="modo-de-preparo">
                <h3>MODO DE PREPARO</h3>

                <ol>
                    <li>Em uma chaleira coloque para ferver 3 xícaras de chá de água.</li>

                    <li>Enquanto isso, em uma panela média, coloque 1 colher de sopa de azeite e em seguida acrescente 2 dente de alho descascado e amassado no amassador de alho.</li>

                    <li> Deixe alourar por 1 minuto e em seguida coloque 1 xícara de chá de arroz preto.</li>
                    
                    <li> Junte 1 ou 2 folhas de louro e tempere com sal a gosto. Usei sal grosso, pois o sal grosso mantém todos os minerais importantes para nossa saúde. Assista  aqui o depoimento do Dr Pablo LLompart, falando sobre o assunto.</li>

                    <li> Coloque 3 xícaras de chá de água fervente. Panela semi tampada e em fogo baixo  deixe cozinhar por 50 minutos ou até que os grãos estejam cozidos e macios. Você decide o ponto. Gosto dos grãos mais ‘al dente’, mas se prefere mais macio, só acrescentar um pouquinhos mais de água e deixar mais tempo cozinhando. Ao gosto do chef da casa, você!😉</li>
                </ol>
            </div>
        </div>


        <div class="box-ini">
            
                <h3>COMENTÁRIOS</h3>

                <div class="comentarios">
                    <div>
                        <table class="info-usuario">
                            <tr>
                                <td><a href="/Home/Perfil.cshtml"><img src="../imagens/perfil.png" alt="ícone do perfil" width="25px"></a></td>
                                <td>Analu</td>
                                <td>(postado há 20h)</td>
                            </tr>
                        </table>
                    </div>

                    <p>Adorei a receita!!</p>
                </div>   

                <div class="comentarios">
                    <div>
                        <table class="info-usuario">
                            <tr>
                                <td><a href="/Home/Perfil.cshtml"><img src="../imagens/perfil.png" alt="ícone do perfil" width="25px"></a></td>
                                <td>Rosa</td>
                                <td>(postado há 1h)</td>
                            </tr>
                        </table>
                    </div>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam illum id et rerum eum ex aut quibusdam nobis dolores, autem ipsam nostrum quidem, nesciunt repudiandae recusandae. Maxime rerum nobis corporis?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae similique molestias tempore, rem suscipit eaque! Ab aspernatur vel animi. Maxime provident aliquid assumenda quos laborum obcaecati reiciendis doloribus, corporis magnam?
                    </p>
                </div>   

        </div>
    </div>
</body>