@model GharibFood.Models.Receita

@{
    ViewData["Title"] = "Receita";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-receita">
        <div class="box-ini" id="primeira-box-ini">
            <h1>@Model.Nome</h1>
            <div class="video">
                <iframe width="560" height="315" src=@Model.Video title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div> 
                <table class="info-receita">
                    <tr>
                        <td><img src="../imagens/relogio.png" alt="imagem de um temporizador"></td>
                        <td><img src="../imagens/rendimento.png" alt="imagem ilustrativa rendimento"></td>
                        
                        <td><button id="curtir"><img id="coracao" src="../imagens/favorito.png" alt="imagem de um coração"></button></td>

                        <td><button id="comentar"><img id="open-modal"  src="../imagens/comentarios.png" alt="imagem ilustrativa de comentários"></button></td>

                        <td>
                            @if (Model.Estrelas == 0)
                            {
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                            }  

                            @if (Model.Estrelas == 1)
                            {
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                            }  

                            @if (Model.Estrelas == 2)
                            {
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                            }        

                            @if (Model.Estrelas == 3)
                            {
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star0.png">
                                <img src="../imagens/star0.png">
                            } 

                            @if (Model.Estrelas == 4)
                            {
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star0.png">
                            }     

                            @if (Model.Estrelas == 5)
                            {
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                                <img src="../imagens/star1.png">
                            }    
                            
                        </td>
                    </tr>

                    <tr>
                        <td>Preparo</td>
                        <td>Rendimento</td>
                        <td>Favoritos</td>
                        <td>Comentários</td>
                        <td><button id="avaliar"><p id="open-modal-avaliar"> <u>Avalie essa receita</u>
                        </p></button></td>
                    </tr>

                    <tr id="info-receita">
                        <td>@Model.Tempo</td>
                        <td>@Model.Rendimento</td>
                        <td><p class="numeroCurtidas" id="numeroCurtidas">@Model.Favoritos</p></td>
                        <td>@ViewBag.totalComent</td>   
                        <td>Avaliação:<p id="rating">@Model.Estrelas</p></td>               
                    </tr>

                </table>
            </div>   
        </div>
    
        <div class="box-ini">
            <div>
                <h3>CURIOSIDADES</h3>
                <p>@Model.Curiosidade</p>
            </div>
        </div>

        <div class="box-ini">
            <div>
                <h3>INGREDIENTES</h3>
                <ul>
                    @foreach (var ingrediente in ViewBag.ingredientes)
                    {
                        @if (ingrediente.Id_receita == Model.Id)
                        {
                            <li>@ingrediente.Ing</li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="box-ini">
            <div id="modo-de-preparo">
                <h3>MODO DE PREPARO</h3>

                <ol>
                    @Model.Preparo
                </ol>
            </div>
        </div>


        <div class="box-ini">
            
                <h3>COMENTÁRIOS</h3>

                @foreach (var comentario in ViewBag.comentarios)
                {
                   @if (comentario.Id_receita == Model.Id)
                   {
                       <div class="comentarios">
                            <div>
                                <table class="info-usuario">
                                    <tr>
                                        <td><img src="../imagens/perfil.png" alt="ícone do perfil" width="25px"></td>
                                        <td>@comentario.User</td>
                                        <td>(@comentario.Data)</td>
                                    </tr>
                                </table>
                            </div>

                            <p>@comentario.Coment</p>
                        </div> 
                   } 
                } 

        </div>
    </div>

    @* modal dos comentarios *@
    <div id="fade" class="hide"></div>

    <div id="modal" class="hide">

        <div class="box-ini-comentar">
            
            <div class="modal-header">
                <button id="close-modal">Fechar</button>
            </div>
        
        
            <div class="modal-body">
                @if (ViewBag.user != null)
                {
                    <form name="Comentar" action="/Home/Receita" method="post">
                        <label for="coment">Comente o que você achou da receita:</label>

                        <textarea name="comentarios" id="coment" cols="50" rows="8" maxlength="300"></textarea>

                        <input type="submit" value="Comentar">
                        <input type="radio" id="user" name="user" class="user" value=@ViewBag.user checked>
                        <input type="radio" id="id" name="id" class="user" value=@Model.Id checked>
                    </form>
                }else{
                    <h1> É preciso estar logado para comentar </h1>
                }
                
            </div>
      </div>
    </div>


    @* modal do avaliar *@
    <div id="fade-avaliar" class="hide"></div>

    <div id="modal-avaliar" class="hide">

        <div class="box-ini-avaliar">
            
            <div class="modal-header-avaliar">
                <button id="close-modal-avaliar">Fechar</button>
            </div>
        
        
            <div class="modal-avaliar-body">
                @if (ViewBag.user != null)
                {
                    <form action="/Home/Receita" method="get">
                        <table class="avaliar">
                            <tr>
                                <td>
                                    <label for="1">
                                        <img src="../imagens/star0.png" id="s1" onclick="Avaliar(1)"/>
                                    </label>
                                </td>

                                <td>
                                    <label for="2">
                                        <img src="../imagens/star0.png" id="s2" onclick="Avaliar(2)"/>
                                    </label>
                                </td>

                                <td>
                                    <label for="3">
                                        <img src="../imagens/star0.png" id="s3" onclick="Avaliar(3)"/>
                                    </label>
                                </td>

                                <td>
                                    <label for="4">
                                        <img src="../imagens/star0.png" id="s4" onclick="Avaliar(4)"/>
                                    </label>
                                </td>

                                <td>
                                    <label for="5">
                                        <img src="../imagens/star0.png" id="s5" onclick="Avaliar(5)"/>
                                    </label>
                                </td>
                                
                            </tr>

                            <tr>
                                <td><input type="radio" class="selecionar-estrela" name="avaliacao" id="1" value="1"></td>
                                <td><input type="radio" class="selecionar-estrela" name="avaliacao" id="2" value="2"></td>
                                <td><input type="radio" class="selecionar-estrela" name="avaliacao" id="3" value="3"></td>
                                <td><input type="radio" class="selecionar-estrela" name="avaliacao" id="4" value="4"></td>
                                <td><input type="radio" class="selecionar-estrela" name="avaliacao" id="5" value="5"></td>
                            </tr>

                            <tr>
                                <td colspan="5" align="center"><input type="submit" value="Avaliar!" id="avaliar"></td>
                            </tr>

                            <input type="radio" id="user" name="user" class="user" value=@ViewBag.user checked>
                            <input type="radio" id="id" name="id" class="user" value=@Model.Id checked>
                        </table>
                    </form>
                }else{
                    <h1> É preciso estar logado para avaliar </h1>
                }

               
            </div>
        </div>
    </div>
</body>