@model List<GharibFood.ViewModels.ReceitaViewModel>

@{
    ViewData["Title"] = "Salgado";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body class="body-home">
        <div class="categorias">
            <div class="botao-categoria"> <a href="/Home/Salgado"><button>Salgado</button></a></div>
            <div class="botao-categoria"> <a href="/Home/Doce"><button>Doce</button></a></div>
        </div>

        @if(ViewBag.continente != null)
        {
            <h1>Salgados - @ViewBag.continente</h1>
        }
        else
        {
            <h1>Salgados</h1>
        }
        

        <div class="filtro">
            <h2>FILTRAR POR:</h2>
            <h3>CONTINENTES</h3>

            <img src="../imagens/img-localizacao.png" alt="imagem de localização" id="img-localizacao">

            <div><a href="/Home/Salgado?continente=Africa"><button class="continentes-filtro">ÁFRICA</button></a></div>
            <div><a href="/Home/Salgado?continente=America"><button class="continentes-filtro">AMÉRICA</button></a></div>
            <div><a href="/Home/Salgado?continente=Asia"><button class="continentes-filtro">ÁSIA</button></a></div>
            <div><a href="/Home/Salgado?continente=Europa"><button  class="continentes-filtro">EUROPA</button></a></div>
            <div><a href="/Home/Salgado?continente=Oceania"><button class="continentes-filtro">OCEANIA</button></a></div>

        </div>

        <div class="menu-receitas-categoria">

            @foreach (var receita in Model)
            {
                if(@receita.Categoria == "Salgado")
                {
                    if(@ViewBag.continente != null)
                    {
                        if(@receita.Continente == @ViewBag.continente)
                        {
                            <a href="/Home/Receita/@receita.Id">
                            <div class="bloco-receita-categoria">
                                <img src=@receita.CaminhoFoto alt=@receita.DescAlt class="img-link-receita">
                                <div class="info">
                                    <p>@receita.Categoria</p>
                                    <h3>@receita.Nome</h3>
                                </div>
                            </div>
                            </a>
                        }
                    }
                    else
                    {
                        <a href="#">
                            <div class="bloco-receita-categoria">
                                <img src=@receita.CaminhoFoto alt=@receita.DescAlt class="img-link-receita">
                                <div class="info">
                                    <p>@receita.Categoria</p>
                                    <h3>@receita.Nome</h3>
                                </div>
                            </div>
                            </a>
                    }
                    
                    
                }
            }

        </div>
    </body>